<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">GymFit</a>

      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/Products']">Products</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/Gyms']">Gyms</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/Programs']">Nutirition Programs</a>
        </li>
        &nbsp;&nbsp;
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/Cart']"><i class="fa fa-cart-plus"></i>Cart</a>
        </li>
      </ul>


      <div >
        <a class="text-light" type="button">
          Welcome {{model.username}}
        </a>

        <a type="button" class="btn" (click)="logout()">Logout</a>
      </div>
      
  </div>
</nav>